* {
  /* margin: 0 auto; */
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  margin: 75px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 465px;
  border-radius: 5px;
  background-color: white;
}

.App > h3 {
  font-size: 25px;
  font-weight: 500px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #f28ab2;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
